_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/
.bundle/
Gemfile.lock

.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.Rproj

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
.ipynb_checkpoints/

*.fasta
*.fastq
*.fq
*.fa
*.fas

*.bam
*.sam
*.vcf
*.nexus
*.nex

.DS_Store
Thumbs.db
desktop.ini

*.log
*.tmp
*.swp
*~
